<div class="cart-upsell-product">
  <a href="[[productUrl]]" class="cart-upsell-product__link">
    [[productImageHtml]]
  </a>
  <div class="cart-upsell-product__info">
    <h4 class="cart-upsell-title-product">[[productTitle]]</h4>
    [[productPriceHtml]]
  </div>
  <button
    type="button"
    class="cart-upsell-add-to-cart"
    data-variant-id="[[variantId]]"
    [[disabled]]
  >
    {{ 'products.product.add_to_cart' | t }}
  </button>
</div>
